* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://www.maxpixel.net/static/photo/1x/Rough-Chaos-Wall-Background-White-Abrasive-2281265.jpg");

}

header{
    align-items: center;
}

h1{
    text-align: center;
    color: darkgreen;
    font-size: 4rem;
    text-shadow: 3px 3px 3px rgb(44, 75, 128)
}
h2{
    text-align: left;
    color: darkgreen;
    font-size: 2rem;
    text-shadow: 12px 12px 12px rgb(44, 75, 128);
}
p{
    text-align: left;
    padding: 2rem;
    font-size: 1.5rem;
}

#bean {
    float: left;
    width: 400px;
    color: rgb(44, 75, 128);
    padding: 35px;
}
